.cloud-page
  display: flex
  flex: 0 0 100%
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 0 30px
  box-sizing: border-box
  .tags-wrp
    width: 100%
    max-width: 960px
    display: flex
    line-height: normal
    flex-wrap: wrap
    align-items: center
    justify-content: center
    a
      color: #fff
      margin: 0 3px
      white-space: nowrap
      display: inline-block
      text-decoration: none
      transition: color 0.3s ease
      &:hover
        color: #9f95f7
